div.matched {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
}

div.unmatched {
    opacity: 0.3;
}

.pooltext {
    padding: 0.3em;
    font-size: 0.9em;
    color: black;
    background-color: #ffdb24;
    border-radius: 0.3em;
}

.nopooltext {
    padding: 0.3em;
    font-size: 0.9em;
    color: rgb(63, 62, 62);
}